html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Montserrat, sans-serif;
}

model-viewer {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.Hotspot {
  --min-hotspot-opacity: 0.75;
  background: rgba(255,255,255,.6);
  border-radius: 12px;
  border: 3px solid #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3), 0 1px 3px 1px rgba(0,0,0,.15);
  box-sizing: border-box;
  cursor: pointer;
  height: 24px;
  padding: 8px;
  position: relative;
  visibility: visible;
  width: 24px;
}

.Hotspot:not([data-visible]) {
  background: transparent;
  border: 3px solid #fff;
  box-shadow: none;
  height: 24px;
  pointer-events: none;
  width: 24px;
}

.Hotspot:focus {
  border: 4px solid rgb(237,27,54);
  height: 24px;
  outline: none;
  width: 24px;
}

.Hotspot > * {
  opacity: 1;
  transform: translateY(-50%);
}
.HotspotAnnotation{
visibility: hidden;
--min-hotspot-opacity: 0.75;
background: rgba(0,0,0,.62);
border-radius: 4px;
color: #fff;
display: block;
font-family: Inter;
left: calc(100% + 1em);
max-width: 256px;
opacity: 1;
overflow-wrap: break-word;
padding: 0.5em 1em;
position: absolute;
top: 50%;
cursor: pointer;
transform: translateY(-50%);
width: max-content;
z-index: 2;
}
.Hotspot:not([data-visible]) > * {
  opacity: 0;
  pointer-events: none;
  transform: translateY(calc(-50% + 4px));
  transition: transform 0.3s, opacity 0.3s;
}

.icon2 {
  width: 40px;
  height: 40px;
  cursor: pointer;
  fill: #70757a;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.20000000298023224);
  border-width: 0;
  position: absolute;
  bottom: 16px;
  right: 10px;
  line-height: 5px;
  padding: 5px;
}
.icon:hover{
  fill: #000;
}
.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
  to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
}

@keyframes elongate {
  from { transform: translateX(100px); }
  to   { transform: translateX(-100px); }
}

model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status="session-started"] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}

.textcontainer {
  width: 20%;
  position: absolute;
  right: 1%;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: normal;
}

.text {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  background: #f1f3f4;
  border-radius: 8px;
  box-sizing: border-box;
  color: #1c1b1b;
  cursor: pointer;
  font-weight: 400;
  margin-bottom: 8px;
  min-height: 40px;
  padding: 5px 16px;
  max-width: 200px;
}
.texticon {
  display: flex;
  align-items: center;
  cursor: pointer;
  min-height: 40px;
  max-width: 200px;
  scale: .5;
}

.text:hover {
  background: #dadce0;
  color: #000;
}

.text:focus {
  background: #dadce0;
  color: #000;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.wraper-ctrl-buttons {
  display: none;
}

.ctrl-buttons-L {
  display: none;
}

.wraper-ctrl-buttons-L {
  display: none;
}

.ctrl-buttons {
  width: 32px;
  height: 40px;
  display: flex;
  position: relative;
  flex-shrink: 0;
  background-color: transparent;
  border-width: 0;
  align-items: center;
  margin: 1px;
  cursor: pointer;
}
.textcontainericon {
  display: none;
}
@media only screen and (max-width: 479px) {
  .wraper-ctrl-buttons {
    left: 0px;
    right: 0px;
    width: 300px;
    bottom: 0px;
    height: 40px;
    display: flex;
    position: absolute;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.20000000298023224);
    margin-top: auto;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    margin-bottom: 16px;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.949999988079071);
  }

  .container {
    flex-direction: column;
  }

  .ctrl-buttons-L {
    display: none;
  }

  .wraper-ctrl-buttons-L {
    display: none;
  }

  .textcontainer {
    display: none;
  }
   .ctrl-buttons-L {
    display: none;
  }

  .wraper-ctrl-buttons-L {
    display: none;
  }
  .icon2 {
    top: 10px;
    left: 10px;
  }
}
@media only screen and (max-height:450px) {
  .textcontainer {
    display: none;
  }

  .wraper-ctrl-buttons {
    display: none;
  }

  .wraper-ctrl-buttons-L {

    display: flex;
    position: fixed;
    right: 10px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.20000000298023224);
    width: 40px;
    border-radius: 24px;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.949999988079071);
  }

  .ctrl-buttons-L {
    width: 32px;
    height: 40px;
    display: flex;
    position: relative;
    flex-shrink: 0;
    background-color: transparent;
    border-width: 0;
    align-items: center;
    margin: 1px;
    cursor: pointer;
  }
  .textcontainericon {
    display: none;
  }
  .heading {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .textcontainericon {
    position: absolute;
    right: 1%;
    display: block;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: normal;
    }
    .textcontainer{
      display: none;
    }
  }
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup-content {
  background-color: #fff;
  width: 200px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.close {
  float: right;
  cursor: pointer;
  width: 20px;
  position: absolute;
  right: 0;
  top: -2px;
  text-decoration: none;
  text-align: center;
  opacity: 0.5;
  padding: 0 0 18px 10px;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

.close:hover,
.close:focus {
  opacity: 1;
}


.heading {
  left: 0px;
  right: 0px;
  top: 70px;
  display: flex;
  padding: 0 22px;
  position: absolute;
  flex-direction: row;
  justify-content: center;
}
.Htext {
  display: none;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  align-items: center;
  color: #1c1b1b;
  font-weight: 400;
  text-align: center;
}
.ARbutton {
  font-family: Montserrat, sans-serif;;
  line-height: 37px;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  width: 40px;
  cursor: pointer;
  color: #70757a;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.20000000298023224);
  border-width: 0;
  position: absolute;
  top: 10px;
  right: 10px;
}

.ARbutton:hover {
  color: #000;
}
.mainpagectrls-container {
  width: 100%;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  display: block;

}
.feature-container {
  width: 100%;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  display: none;

}
.mainpagectrls-mainpagectrls {
  left: 0px;
  right: 0px;
  width: 150px;
  bottom: 0px;
  height: 48px;
  display: flex;
  padding: 0 22px;
  position: absolute;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.20000000298023224) ;
  margin-top: auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  margin-bottom: 16px;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}

.iconbox {
  width: 32px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-width: 0;
  background-color: transparent;
}
.icon {
  top: 0px;
  left: 0px;
  width: 38px;
  height: 48px;
  position: absolute;
  scale: 1.2;
  cursor: pointer;
}
/* popup controls */

.variants-variants {
  display: none;
  position: absolute;
  left: 0px;
  height: 178px;
  right: 0px;
  bottom: 75px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 290px;
  border-radius:20px;
  padding: 0 6px;
  overflow: hidden;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.20000000298023224) ;
  background-color: rgba(255, 255, 255, 1);
}
.variants-listitem {
  width: 368px;
  display: flex;
  padding: 8px 0 8px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.variants-divv3dcontrolsproducttit {
  width: 368px;
  display: flex;
  padding: 8px 241px 9.189998626708984px 30px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.variants-textstraps {
  color: #70757a;
  height: auto;
  font-size: 18px;
  text-align: left;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 25.200000762939453px;
  font-stretch: normal;
  text-decoration: none;
  cursor: pointer;
}
.variants-textvariants {
  color: #000;
  height: auto;
  font-size: 18px;
  text-align: left;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 25.200000762939453px;
  font-stretch: normal;
  text-decoration: none;
  cursor: pointer;
}
.variants-divv3dcontrolscolorchip {
  width: 275px;
  height: 58px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.variants-list1 {
  top: 0px;
  left: 24px;
  width: 306px;
  display: flex;
  padding: 4px 0 4px;
  position: absolute;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 0;
}
.variants-listitem1 {
  width: 76.5px;
  display: flex;
  padding: 0 0 15.080001831054688px;
  align-items: flex-start;
  flex-shrink: 0;
}
.variants-button {
  display: flex;
  padding: 39px 11.800000190734863px 8.080001831054688px 11.699999809265137px;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
}
.variants-text02 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  text-align: center;
  font-family: Montserrat, sans-serif;;
  font-weight: 400;
  line-height: 15.079999923706055px;
  font-stretch: normal;
  text-decoration: none;
}
.variants-spanv3dcontrolscolorchipcolor {
  top: 4px;
  left: 25.25px;
  width: 26px;
  height: 26px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 1px;
  border-radius: 14px;
}
.variants-listitem3 {
  width: 368px;
  display: flex;
  padding: 8px 0;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: #fff;
  z-index: 5;
  top: -63px;
  flex-direction: column;
}
.variants-pseudo3 {
  top: 0px;
  left: 10px;
  width: 260px;
  height: 1px;
  position: absolute;
}
.variants-divv3dcontrolsproducttit1 {
  width: 368px;
  display: flex;
  padding: 8px 235px 9.189998626708984px 30px;
  z-index: 1;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.close2 {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 3px;
  text-decoration: none;
  text-align: center;
  opacity: 0.5;
  font-style: normal;
  font-size: 28px;
 z-index: 10;
  font-family: Arial, Baskerville, monospace;
}

